.topBar{
    opacity: 0 !important;
}

.desktoppage{
    position: relative;
    background-color: #fff;
    height: 350vh;
}

.courseswrapper {
  position: absolute;
  width: 1536px;
  top: 62px;
  left: calc(50% - 1536px / 2 + 0.5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .coursessection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    gap: 20px;
   
    h1 {
      font-weight: 700;
      font-size: 36px;
      line-height: 150%;
    }
    .buttongroup {
      .btn {
        border: none;
        outline: none;
        padding: 8px 16px;
        background-color: var(--secondary);
        cursor: pointer;
        border-radius: 8px;
        color: #fff;
        display: none;
      }
    }
    .gallary {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 0px;
      gap: 50px;
      .card {
        width: 310px;
        height: 556px;
        display: flex;
        flex-direction: column;
        border: 1px solid;
        .imgsection {
          height: 294px;
          background-color: white;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .detailsection {
          position: relative;
          height: 273px;
          background-color: var(--primary);
          padding: 12px;
          h2 {
            font-weight: 700;
            font-size: 32px;
            color: #fff;
            line-height: 150%;
          }
          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #fff;
          }
          a {
            position: absolute;
            bottom: 12px;
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            padding: 6px 24px;
            border: none;
            outline: none;
            border-radius: 25px;
            background-color: #fff;
            text-decoration: none;
          }
          a:hover {
            background-color: yellow;
          }
        }
      }
    }
  }
}

.footer{
   position: absolute;
   bottom: 1;
}

@media only screen and (max-width: 740px) {
  .topBar{
      opacity: 1 !important;
  }
  .courseswrapper{
      width: 100vw;
      left: 0;
      .coursessection{
          .gallary{
              grid-template-columns: auto auto;
              row-gap: 25px;
              column-gap: 25px;
          }
      }
  }
  .desktoppage{
      position: relative;
      background-color: #fff;
      height: 1400vh;
  }

  .footer{
    .info {
      flex-grow: 1;
      flex-basis: min-content;
      .images {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        width: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .img05 {
          grid-area: 1 / 3 / 1 / 4; /* Start at row 2, column 2, end at row 4, column 3 */
        }
      }
    }
  }

}

@media only screen and (max-width: 360px) {
    .desktoppage{
        height: 700vh;
    }
    .topBar{
        opacity: 1 !important;
    }
    .courseswrapper{
        width: 100vw;
        left: 0;
        .coursessection{
            .gallary{
                grid-template-columns: auto;
                row-gap: 25px;
            }
        }
    }
    .desktoppage{
        position: relative;
        background-color: #fff;
        height: 1200vh;
    }
}
